<html>
  <head>
    <title> What To Do </title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
    <link href="/styles.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">

      <form action = "/addtask" method="POST">

        <div class="headr">
          <h1> What to do </h1>
          <input type="text" name="newtask" placeholder="add new task" id="add">
          <button id="b1"> Add Task </button>
        </div>

        <h2> Added Tasks </h2>

        <ul><% for( let i = 0; i < task.length; i++){ %>
          <li>
            <input id="test" type="checkbox" name="check" value="<%= task[i] %>" /> <%= task[i] %>
          </li>
        <% } %></ul>

        <button formaction="/removetask" type="submit"> Mark Completed </button>

        <h2> Completed tasks </h2>

        <ul><% for( let i = 0; i < complete.length; i++){ %>
          <li id="completes">
            <input type="checkbox" checked><%= complete[i] %>
          </li>
        <% } %></ul>

      </form>
    </div>
  </body>
</html>
